@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "KMR Apparat";
        src: url("./fonts/trial/KMR-Apparat-Bold.woff") format("woff");
        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-family: "KMR Apparat";
        src: url("./fonts/trial/KMR-Apparat-Medium.woff") format("woff");
        font-weight: 500;
        font-style: normal;
    }

    @font-face {
        font-family: "GT Planar";
        src: url("./fonts/GT-Planar-Regular.woff") format("woff");
        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-family: "GT Planar";
        src: url("./fonts/GT-Planar-Regular.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: "CoFo Sans Mono", monospace, monospace;
        src: url("./fonts/CoFoSansMono-Regular.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: "CoFo Sans Mono", monospace, monospace;
        src: url("./fonts/CoFoSansMono-Regular.woff") format("woff2");
        font-weight: 500;
        font-style: normal;
    }

    :root {
        --background: #f8f4f2ff;
        --foreground: #120e15ff;
        --logotype: #120e15ff;
        --background-0: #f8f4f200;
        --foreground-60: #120e159a;
        --foreground-70: #120e15b3;
        --filament-60: #f8f4f29a;
        --filament-70: #f8f4f2b3;
        --filament: #f8f4f2ff;
        --carbon: #120e15ff;
        --carbon-50: #120e1580;
        --carbon-0: #120e1500;
        --methyl: #7d0d8cff;
        --plasma: #b90674ff;
        --oxide: #c90e33ff;
        --rust: #fa4300ff;
        --molten: #ff9000ff;
        --sol: #f2f091ff;
        --grab: url("./cursor/grab.svg"), grab;
        --grabbing: url("./cursor/grabbing.svg"), grabbing;
        --pointer: url("./cursor/pointer.svg"), pointer;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --background: #0f0f10ff;
            --foreground: #ede6e1ff;
            --logotype: #de4208ff;
            --background-0: #0f0f1000;
            --foreground-60: #ede6e180;
            --foreground-70: #ede6e1b3;
            --filament-60: #ede6e180;
            --filament-70: #ede6e1b3;
            --carbon: #0f0f10ff;
            --carbon-50: #0f0f1080;
            --carbon-0: #0f0f1000;
            --filament: #ede6e1ff;
            --methyl: #771584ff;
            --plasma: #a81770ff;
            --oxide: #98253cff;
            --rust: #de4208ff;
            --molten: #f18a03ff;
            --sol: #eae9bcff;
            --grab: url("./cursor/grab_dark.svg"), grab;
            --grabbing: url("./cursor/grabbing_dark.svg"), grabbing;
            --pointer: url("./cursor/pointer_dark.svg"), pointer;
        }
    }
}

* {
    box-sizing: border-box;
}

*::selection {
    @apply bg-rust text-background;
}

body {
    color: var(--foreground);
    background: var(--background);
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-gutter: stable both-edges;
}

main {
    display: grid;
    @apply font-planar;
    @apply font-normal;
    font-style: normal;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.01em;
    grid-template-columns: repeat(4, 1fr);
    gap: 5vw;
    padding: 0 5vw;
}

h1 {
    @apply font-apparat;
    @apply font-medium;
    font-style: normal;
    font-size: 62px;
    line-height: 60px;
    letter-spacing: -0.02em;
}

h2 {
    @apply font-apparat;
    @apply font-medium;
    font-style: normal;
    font-size: 38.5px;
    line-height: 40px;
    letter-spacing: -0.015em;
}

h3 {
    @apply font-planar;
    @apply font-normal;
    font-style: normal;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: -0.01em;
}

caption,
figcaption {
    @apply font-planar;
    @apply font-normal;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
}

caption .code,
caption .pre,
figcaption .code,
figcaption .pre {
    @apply font-mono;
    @apply font-normal;
    font-style: normal;
    font-size: 13px;
    line-height: 14px;
    letter-spacing: 0.03em;
}

code,
pre {
    @apply font-mono;
    @apply font-normal;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.02em;
}

@media (min-width: 640px) {
    main {
        grid-template-columns: repeat(6, 1fr);
        gap: 2.5vw;
    }
}

@media (min-width: 768px) {
    main {
        grid-template-columns: repeat(9, 1fr);
        gap: 2.5vw;
    }
}

@media (min-width: 1440px) {
    main {
        grid-template-columns: repeat(12, 1fr);
        gap: 1.25vw;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -0.01em;
    }

    h1 {
        font-size: 96px;
        line-height: 84px;
        letter-spacing: -0.02em;
    }

    h2 {
        font-size: 57.5px;
        line-height: 56px;
        letter-spacing: -0.015em;
    }

    h3 {
        font-size: 39.5px;
        line-height: 42px;
        letter-spacing: -0.01em;
    }

    caption,
    figcaption {
        font-size: 17px;
        line-height: 28px;
        letter-spacing: 0.02em;
    }

    caption .code,
    caption .pre,
    figcaption .code,
    figcaption .pre {
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 0.02em;
    }

    code,
    pre {
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 0.02em;
    }
}

.grid-a {
    @apply px-[5vw] grid grid-cols-4 sm:grid-cols-6 md:grid-cols-9 2xl:grid-cols-12 gap-x-[5vw] sm:gap-x-[2.5vw] 2xl:gap-x-[1.25vw];
}

.grid-m {
    @apply grid-a auto-rows-min;
}

html {
    @apply text-[125%] 2xl:text-[175%] 5xl:text-[200%];
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: clip;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}
html::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    overflow: inherit;
    scrollbar-gutter: stable;
}

body.scroll-bar::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb:hover {
    background: var(--plasma);
    border-radius: 1rem;
}

body::-webkit-scrollbar-track {
    border-radius: 4px;
}

body::-webkit-scrollbar-button {
    display: none;
}

.rfm-child {
    padding: 1rem;
}

main .sponsors {
    padding: 0;
    margin-left: -5vw;
    margin-right: -5vw;
    width: 100vw;
    overflow-x: visible;
}

.rust {
    @apply bg-rust text-filament;
}

@media (prefers-color-scheme: dark) {
    .rust {
        @apply bg-filament text-rust;
    }
}

.rust-fill {
    @apply bg-rust text-filament;
}

.plasma-fill {
    @apply bg-plasma text-filament;
}

.rust-invert {
    @apply bg-filament text-rust;
}

.plasma-invert {
    @apply bg-filament text-plasma;
}

.rust-stroke {
    @apply border-rust text-rust bg-background;
}

/*CURSOR*/
@media (pointer: fine) and (prefers-color-scheme: light) {
    body {
        cursor: url("./cursor/default.svg"), auto;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span,
    text,
    code,
    blockquote,
    label,
    li,
    p {
        cursor: url("./cursor/text.svg"), text;
    }

    button,
    button *,
    a,
    a *,
    input,
    input *,
    label,
    label *,
    .pointer {
        cursor: url("./cursor/pointer.svg"), pointer;
    }

    .grab {
        cursor: url("./cursor/grab.svg"), grab;
    }

    .grab:active {
        cursor: url("./cursor/grabbing.svg"), grabbing;
    }
}

@media (pointer: fine) and (prefers-color-scheme: dark) {
    body {
        cursor: url("./cursor/default_dark.svg"), auto;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span,
    text,
    code,
    blockquote,
    label,
    li,
    p {
        cursor: url("./cursor/text_dark.svg"), text;
    }

    button,
    button *,
    a,
    a *,
    input,
    input *,
    label,
    label *,
    .pointer {
        cursor: url("./cursor/pointer_dark.svg"), pointer;
    }

    .grab {
        cursor: url("./cursor/grab_dark.svg"), grab;
    }

    .grab:active {
        cursor: url("./cursor/grabbing_dark.svg"), grabbing;
    }
}
