@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "KMR Apparat";
    src: url("./fonts/trial/KMR-Apparat-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "KMR Apparat";
    src: url("./fonts/trial/KMR-Apparat-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "GT Planar";
    src:
      url("./fonts/GT-Planar-Regular.woff") format("woff"),
      url("./fonts/GT-Planar-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "CoFo Sans Mono", monospace, monospace;
    src:
      url("./fonts/CoFoSansMono-Regular.woff") format("woff"),
      url("./fonts/CoFoSansMono-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

  :root {
    --background: #ffffff;
    --foreground: #120e15;
    --off-white: #ffffff;
    --off-black: #120e15;
    --accent-aubergine: #fa4300;
    --accent-dragonfruit: #fa4300;
    --accent-apple: #fa4300;
    --accent-blood-orange: #fa4300;
    --accent-tangerine: #fa4300;
    --accent-butter: #fa4300;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #ffffff;
      --foreground: #120e15;
      --off-black: #120e15;
      --off-white: #ffffff;
      --accent-aubergine: #fa4300;
      --accent-dragonfruit: #fa4300;
      --accent-apple: #fa4300;
      --accent-blood-orange: #fa4300;
      --accent-tangerine: #fa4300;
      --accent-butter: #fa4300;
    }
  }
}

*::selection {
  background: var(--foreground);
  color: var(--background);
}

body {
  color: var(--foreground);
  background: var(--background);
}

main {
  @apply font-planar;
  @apply font-normal;
  font-style: normal;
}

h1 {
  @apply font-apparat;
  @apply font-medium;
  font-style: normal;
}

h2 {
  @apply font-apparat;
  @apply font-medium;
  font-style: normal;
}

h3 {
  @apply font-planar;
  @apply font-normal;
  font-style: normal;
}

caption,
figcaption {
  @apply font-planar;
  @apply font-normal;
  font-style: normal;
}

caption .code,
caption .pre,
figcaption .code,
figcaption .pre {
  @apply font-mono;
  @apply font-normal;
  font-style: normal;
}

code,
pre {
  @apply font-mono;
  @apply font-normal;
  font-style: normal;
}
